<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="customer_save_after">
        <observer name="customer_save_after_sweettooth_webhook_observer" instance="SweetTooth\Webhook\Model\Observer\Customer\Save" method="dispatch" />
    </event>
    <event name="customer_delete_after">
        <observer name="customer_delete_after_sweettooth_webhook_observer" instance="SweetTooth\Webhook\Model\Observer\Customer\Delete" method="dispatch" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="product_save_after_sweettooth_webhook_observer" instance="SweetTooth\Webhook\Model\Observer\Product\Save" method="dispatch" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="product_delete_after_sweettooth_webhook_observer" instance="SweetTooth\Webhook\Model\Observer\Product\Delete" method="dispatch" />
    </event>
    <event name="sales_order_save_after">
        <observer name="sales_order_save_after_sweettooth_webhook_observer" instance="SweetTooth\Webhook\Model\Observer\Order\Save" method="dispatch" />
    </event>
    <event name="sales_order_delete_after">
        <observer name="sales_order_delete_after_sweettooth_webhook_observer" instance="SweetTooth\Webhook\Model\Observer\Order\Delete" method="dispatch" />
    </event>
</config>
